# gradle

remapped/

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
# Stonecutter generates the version subprojects; nothing under versions/ is tracked.
/versions/
